
/* Structure */

body {
    background-color: linen;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Arial, Verdana, sans-serif;
    color: black;
    font-size: 14px;
}

header {
    color: black;
    text-indent: 90px;
    height: 180px;
    font-size: x-large;
    line-height: 1;
    padding-bottom: 50px;

}


.title_header {

    padding-top: 60px;
    display: block;

}


#img_top {
    float: left;

}

.background_nav {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;

}

.topnav a {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-right: 30px;
    margin-left: 0px;
    color: black;
    float: none; /* W3C responsive layout*/
    width: 100%; /* W3C responsive layout*/
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none; /* no link underlined */

}





.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    overflow: auto; /* W3C responsive layout*/
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    padding-top: 10px;

}

.dropdown-content a {

    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 5px;
    padding-top: 5px;

}

.dropdown:hover .dropdown-content {
    display: block;
}



.main_content {
    margin: 30px;
    background-color: linen;
    height: auto;
    font-size: 16px;
    line-height: 25px;


}

.title_page {

    text-align: center;

}

.sidenav {
    width: 180px;
    position: relative;
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.2);
    margin-top: 0px;
    margin-left: 880px;
    background-color: white;


}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
}



.footer {
    text-align: center;
    color: black;
    background-color: white;
    margin-top: 100px;


}


.footer a {

    text-decoration: none;
    color: black;
    float: none; /* W3C responsive layout*/
    width: 100%; /* W3C responsive layout*/
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 160px;
    margin-left: 10px;


}

a:hover {
    background-color: #D57B69;
    color: black;
}


a {
    text-decoration: none;
    
}

.volume {
    background-color: white;
    font-size: 18px;
    padding: 90px;
    text-align: justify;
    width: 60%;
    line-height: 150%;

}


.box {
    padding: 20px;
    width: 600px;
    height: auto;
    background-color: white;
    float: right;
    box-shadow: 2px 7px #D57B69;
    font-size: 16px;
    line-height: 2;

}






/* CSS for main content (all pages) */

cite {

    font-style: italic;
}

.foreign_language {

    font-style: italic;
}


/* Critical apparatus */




.addEditor {

    font-size: 14px;
    font-style: italic;
}



.noteEditoriale {

    width: 30px;
    height: 30px;

}


/* del */

.delStaelA {

    text-decoration: line-through;
    text-decoration-color:#6AB1AE;
    text-decoration-thickness: 2px;
    display: inline;

}

.delUnknown {

    text-decoration: line-through;
    text-decoration-color: grey;
    text-decoration-thickness: 2px;
    display: inline;



}


.delSchlegelW {

    text-decoration: line-through;
   text-decoration-color: #0077b6;
  text-decoration-thickness: 2px;
    display: inline;


}


.delStael {
    text-decoration: line-through;
    text-decoration-color: #D57B69;
   text-decoration-thickness: 2px;
    display: inline;
}


/* add */


.addStaelA {

    font-weight: bold;
    color: #6AB1AE;

}

.addUnknown {

    font-weight: bold;

    color: grey;
    display: inline;


}




.addSchlegelW {

    font-weight: bold;

    color: #0077b6;
    display: inline;


}



.addStael {

    font-weight: bold;
    color: #D57B69;
    display: inline;



}

/* -------------- */



.underlined {

    text-decoration: underline;

}



.superscript {

    vertical-align: super;
    font-size: 12px;

}


/* revoir tout ce qui suit*/

.cross_out {

    text-decoration: line-through;

}

.addition {

    font-style: italic;

}


.substitution {

    font-weight: bold;

}


.copiste {

    width: 25px;
    height: 25px;

}

.book {

    width: 25px;
    height: 25px;

}


.rature {

    font-family: sans-serif;

}
.rature2 {
    color: #D57B69;

}

.rature3 {
    color: #853525;

}


.variant_stael {
    background-color: #D57B69;

}


.variant_copiste {
    background-color: #ffedb3;

}

.schlegel {
    background-color: #c0defa;

}

.auguste {
    background-color: #b1faa7;

}

.crayon {
    background-color: LightGray;

}

.editorial_note {
    background-color: #fcac5c;
    vertical-align: super;
    font-size: smaller;

}
/*  revoir précédents */

ul {
    list-style-type: none;
    overflow: hidden; /* without this background-color of navigation bar disappear */

}
/* text alignement in navigation bar */
li {
    float: left;
}



.slide {
    margin-left: 50px;
    margin-right: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 400px;
    width: 300px;
    display: none;


}





.img_body {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 300px;
    margin-right: 300px;

}


.legende {

    font-size: 13px;
    display: block;
    margin-left: 300px;
    margin-right: 300px;

}
.img_manuscrit {

    margin-left: 50px;
    height: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.download {

    width: 30px;
    height: 30px;

}



.finPage {

    border-top: 1px dashed grey;

}


.folio {

    font-size: 12px;
    font-style: italic;

}

/* Tooltips  .............*/




/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;

}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
 border-style: outset;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: -5px;
    left: 105%;

    /* Position the tooltip text  */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}




/*   ........ */





/* Tooltip container */
.tooltipReg {
    position: relative;
    display: inline-block;
    border-bottom:dotted;

}

/* Tooltip text */
.tooltipReg .tooltiptextReg {
    visibility: hidden;
    width: 120px;
    background-color:#d8e2dc;
    text-align: center;
    padding: 6px 0;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
     margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

    /* Position the tooltip text  */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipReg:hover .tooltiptextReg {
    visibility: visible;
}

.tooltipReg .tooltiptextReg::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #d8e2dc transparent transparent transparent;
}



